@import './base.css';
#app{
  max-width: 1240px;
  margin: 0 auto;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 640px) {
  .container{
    max-width: 640px;
  }
}
@media screen and (min-width: 768px) {
  .container{
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1024px) {
  .container{
    max-width: 1024px;
    padding: 0 64px;
  }
}
@media screen and (min-width: 1280px) {
  .container{
    max-width: 1280px;
    padding: 0 80px;
  }
}
@media screen and (min-width: 1536px) {
  .container{
    max-width: 1536px;
    padding: 0 96px;
  }
}
.section-title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  padding: 15px 0;
}
.btn{
  padding: 10px 15px;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  font-weight: 600;
}
@media(hover:hover){
  .btn:hover{
    border-color: var(--color-border-hover);
  }
}